.header{
    background-color: darkcyan;
    display:flex;
    color:black;
    border-radius: 10px;
    padding:15px;
    margin:10px;
    justify-content: space-between;
}
* {
    margin:10px
}
body{
    background-color: #00CCFF;
    padding: 3px;
}

.grid{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    border:solid;
}

a{
    color:white;
}

.topMenuBorder{
    border:solid;
    border-radius: 10px;
    border-color: black;
}
.menu{

    display:flex;
    float:right;
}

